<header>
    <nav>
        <a href="home.html">Home</a>
        <a href="about.html">About</a>
    </nav>
</header>
<main>
    <h1>CONTACT ME DIRECT</h1>
    <p> Any questions, concerns inquaires or feed back please email me direct at jamal-jamal@jamal.com
    </p>
    <p> Need immediate assistence?
        call: 1800-Jamal-Jamal - no refunds!
    </p>
</main>
<footer>
    <div>Copyright 1982 by Jamal-Jamal</div>
    <div>I love chocolate!</div>
</footer>
